<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="TestScriptsExecution">
        <classes>
            <class name="testcase.Bulk_upload_for_parent_notice_Express_type"/>
            <class name="testcase.Bulk_upload_for_parent_notice_standard_type"/>
            <class name="testcase.BulkSend_for_standard_notice"/>
        </classes>
    </test>
</suite>